<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("MetaContent", false)
</head>
<body>
    
    <div id="PageContainer">
        <div id="MainContainer">
            <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="margin-bottom: 0;">
                <a class="navbar-brand" href="/">
                    <img src='@Url.Content("~/Images/PokemonLogo.png")' height="40" style="padding: 5px 20px 0px 10px;" />
                </a>
                <button class="animated-nav-button" type="button" aria-label="Toggle navigation">
                    <div class="animated-nav-icon"><span></span><span></span><span></span></div>
                </button>
            </nav>

            <div id="MainContentContainer">
                <div id="SideMenuContainer">
                    <div class="SideMenuBlock">
                        Home
                    </div>
                    <div class="SideMenuBlock">
                        Pokemon
                    </div>
                    <div class="SideMenuBlock">
                        Team Builder
                    </div>
                </div>

                <div style="position: relative;">
                    <div id="NavMenuOverlay" class="overlay"></div>
                    <div id="bodyContainer">
                        @RenderBody()
                        <div id="footerPlaceholder"></div>
                    </div>

                    <footer id="footerContainer">
                        <span style="font-weight: 700;">Created and Designed by Connor Downes</span><br />
                        Data provided by PokeAPI
                    </footer>
                </div>
            </div>
        </div>
    </div>

    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.animated-nav-button').on('click', function () {
                ToggleNavigationBar();
            });

            $('#NavMenuOverlay').on('click', function () {
                ToggleNavigationBar();
            });

            var ToggleNavigationBar = function () {
                $('#SideMenuContainer').toggleClass('open');
                $('.animated-nav-icon').toggleClass('open');
                $('#NavMenuOverlay').toggleClass('open');
                $('#MainContainer').toggleClass('NoScroll');
            }
        });

        @RenderSection("scripts", required: false)
    </script>
</body>
</html>
